body {
  font-family: 'Source Sans Pro', sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.text-center {
  text-align: center;
}

.card-body {
  transition: all 0.2s;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 5px;
  width: 400px;
  height: 150px;
  margin: 10px;
  position: relative;
}

.card-body:hover {
  background-color: #efefef;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.05);
  transform: translateY(-2px);
}

.card-time {
  position: absolute;
  margin: 0;
  padding: 10px 0 0 10px;
}

.card-date {
  left: 0;
  bottom: 0;
  padding: 0 0 10px 10px;
  position: absolute;
}

div.card-degree {
  bottom: 0;
  padding: 15px;
  position: absolute;
  right: 0;
}

.card-degree {
  font-size: 1.9rem;
  font-weight: bold;
}

.card-min-degree {
  color: gray;
  font-size: 1.3rem;
}

.card-separator {
  font-size: 1.65rem;
  color: gray;
}

.card-weather-emoji {
  font-size: 3rem;
  margin-top: 20px;
  display: inherit;
}

.header {
  background-color: #f1f1f1;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.progress-container {
  width: 100%;
  height: 4px;
  background: #ccc;
}

.progress-bar {
  height: 4px;
  background: #666666;
  width: 0%;
}

.today-weather {
  background-color: white;
  border: white;
  height: 200px;
  transform: translate(-50%, 0);
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.1);
  width: 50vw;
  position: relative;
  left: 50%;
}

@media only screen and (max-width: 700px) {
  .today-weather {
    width: 100vw;
  }
}

.today-weather:hover {
  background-color: #efefef;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.1);
  transform: translate(-50%, -2px);
}

.today-degree {
  font-size: 2.3rem;
  font-weight: bold;
  display: block;
  text-align: center;
}

.today-city {
  border-bottom: 4px solid #80808063;
  padding: 0 5px;
}

.today-sticky-container>span>span {
  padding: 0 5px 0 0;
}

.today-sticky-container {
  position: fixed;
  top: 4px;
  width: 100%;
  height: 58px;
  z-index: 1;
  background: white;
}

.today-sticky-temperature {
  position: absolute;
  right: 0;
  top: 0;
  padding: 15px 20px;
  font-weight: bold;
}

.today-as-emoji {
  font-size: 3rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.today-sunrise {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
}

.today-sunset {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
}

.today-min-max-degree {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 10px;
}

.btn-fetch {
  transition: opacity 0.5s ease-out;
  position: relative;
  left: 50%;
  opacity: 1;
  transform: translate(-50%, 0);
  background-color: white;
  border: 5px solid #efefef;
  outline: none;
  padding: 13px 50px;
  min-width: 50%;
  font-weight: 800;
  font-stretch: extra-expanded;
  font-size: medium;
  margin: 10px 0 10px 0;
  border-radius: 6px;
}

.btn-fetch:hover {
  background-color: #efefef;
  border: 5px solid #efefef;
}