/** NEW */

.weather-wrapper {
  display: flex;
  justify-content: center;
}

body.dark .weather-card {
  background-color: #a4a4a4;
}

.weather-card {
  margin: 20px 5px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  width: 270px;
  height: 270px;
  background-color: white;
  box-shadow: 0px 0px 25px 1px rgba(50, 50, 50, 0.1);
  animation: appear 500ms ease-out forwards;
}

.weather-card h1 {
  position: absolute;
  font-weight: 300;
  font-size: 80px;
  bottom: 0;
  left: 35px;
  opacity: 0;
  transform: translateX(150px);
  animation: title-appear 500ms ease-out 500ms forwards;
}

.weather-card p {
  position: absolute;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 28px;
  bottom: 0;
  left: 35px;
  animation: title-appear 1s ease-out 500ms forwards;
}

.weather-icon {
  position: relative;
  width: 50px;
  height: 50px;
  top: 0;
  float: right;
  margin: 40px 40px 0 0;
  animation: weather-icon-move 5s ease-in-out infinite;
}

.sun {
  background: #ffcd41;
  border-radius: 50%;
  box-shadow: rgba(255, 255, 0, 0.1) 0 0 0 4px;
  animation: light 800ms ease-in-out infinite alternate,
    weather-icon-move 5s ease-in-out infinite;
}

@keyframes light {
  from {
    box-shadow: rgba(255, 255, 0, 0.2) 0 0 0 10px;
  }
  to {
    box-shadow: rgba(255, 255, 0, 0.2) 0 0 0 17px;
  }
}

.cloud,
.rain {
  margin-right: 60px;
  background: #b6cede;
  border-radius: 20px;
  width: 25px;
  height: 25px;
  box-shadow: #b6cede 24px -6px 0 2px, #b6cede 10px 5px 0 5px,
    #b6cede 30px 5px 0 2px, #b6cede 11px -8px 0 -3px, #b6cede 25px 11px 0 -1px;
}

.cloud:after {
  content: '';
  position: absolute;
  border-radius: 10px;
  background-color: transparent;
  width: 4px;
  height: 12px;
  left: 0;
  top: 31px;
  transform: rotate(30deg);
}

.rain:after {
  content: '';
  position: absolute;
  border-radius: 10px;
  background-color: transparent;
  width: 4px;
  height: 12px;
  left: 0;
  top: 31px;
  transform: rotate(30deg);
  animation: rain 800ms ease-in-out infinite alternate;
}

@keyframes rain {
  from {
    box-shadow: #2092a9 8px 0px, #2092a9 32px -6px, #2092a9 20px 0px;
  }
  to {
    box-shadow: #2092a9 8px 6px, #2092a9 32px 0px, #2092a9 20px 6px;
  }
}

@keyframes weather-icon-move {
  50% {
    transform: translateY(-8px);
  }
}

.inspiration {
  margin-top: 80px;
  color: #709fbe;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 24px;
  text-align: center;
}

.inspiration a {
  color: #ff8f8f;
  font-weight: 400;
  animation: all 300ms ease-in-out;
}

@keyframes appear {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.05);
  }
  75% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes title-appear {
  from {
    opacity: 0;
    transform: translateX(150px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

/** OLD */

body {
  font-family: 'Source Sans Pro', sans-serif;
}

body.dark {
  color: white;
  background-color: #6b6b6b;
}

a {
  color: blue;
  text-decoration: none;
}

a:hover {
  color: cornflowerblue;
  text-decoration: none;
}

a:active {
  color: cornflowerblue;
  text-decoration: none;
}

.no-margin {
  margin: 0;
}

.container {
  display: grid;
  justify-content: center;
}

.text-center {
  text-align: center;
}

.heading-location-access {
  position: fixed;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-item {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.card-body {
  transition: all 0.2s;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.1);
  /* background-color: #fff; */
  border-radius: 5px;
  min-width: 300px;
  height: 150px;
  margin: 10px;
  position: relative;
}

body.dark .card-body {
  transition: all 0.2s;
  box-shadow: 0 2rem 6rem rgba(255, 255, 255, 0.14);
  border-radius: 5px;
  width: 400px;
  height: 150px;
  margin: 10px;
  position: relative;
}

.card-body:hover {
  background-color: #efefef;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

body.dark .card-body:hover {
  background-color: #6d6d6d;
  box-shadow: 0 2rem 6rem rgba(255, 255, 255, 0.22);
  transform: translateY(-2px);
}

.card-time {
  position: absolute;
  margin: 0;
  padding: 10px 0 0 10px;
}

.card-date {
  left: 0;
  bottom: 0;
  padding: 0 0 10px 10px;
  position: absolute;
  font-weight: bold;
}

div.card-degree {
  bottom: 0;
  padding: 15px;
  position: absolute;
  right: 0;
}

.card-degree {
  font-size: 1.9rem;
  font-weight: bold;
}

.card-min-degree {
  color: gray;
  font-size: 1.3rem;
}

body.dark .card-min-degree {
  color: #404040;
  font-size: 1.3rem;
}

.card-separator {
  font-size: 1.65rem;
  color: gray;
}

.card-weather-emoji {
  font-size: 3rem;
  margin-top: 20px;
  display: inherit;
}

.header {
  background-color: #f1f1f1;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.progress-container {
  width: 100%;
  height: 4px;
  background: #ccc;
}

body.dark .progress-container {
  width: 100%;
  height: 4px;
  background: #bfbfbf;
}

.progress-bar {
  height: 4px;
  background: #666666;
  width: 0%;
}

body.dark .progress-bar {
  height: 4px;
  background: #ffffff;
  width: 0%;
}

.today-weather {
  border: white;
  height: 200px;
  transform: translate(-50%, 0);
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.1);
  width: 50vw;
  position: relative;
  left: 50%;
}

body.dark .today-weather {
  border: white;
  height: 200px;
  transform: translate(-50%, 0);
  box-shadow: 0 2rem 6rem rgba(255, 255, 255, 0.14);
  width: 50vw;
  position: relative;
  left: 50%;
}

@media only screen and (max-width: 700px) {
  .today-weather {
    width: 100vw;
  }
}

.today-weather:hover {
  background-color: #efefef;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.15);
  transform: translate(-50%, -2px);
}

body.dark .today-weather:hover {
  background-color: #6d6d6d;
  box-shadow: 0 2rem 6rem rgba(255, 255, 255, 0.22);
  transform: translate(-50%, -2px);
}

.today-degree {
  font-size: 4.3rem;
  font-weight: bold;
  display: block;
  text-align: left;
  padding: 0 15px;
}

.today-city {
  border-bottom: 4px solid #80808063;
  padding: 0 5px;
}

body.dark .today-city {
  border-bottom: 4px solid #ffffff;
  padding: 0 5px;
}

.today-sticky-container > span > span {
  padding: 0 5px 0 0;
}

.today-sticky-container {
  position: sticky;
  top: 4px;
  width: 100%;
  height: 58px;
  z-index: 1;
  background: white;
}

body.dark .today-sticky-container {
  position: fixed;
  top: 4px;
  width: 100%;
  height: 58px;
  z-index: 1;
  background: #6f6f6f;
}

.today-sticky-temperature {
  position: absolute;
  right: 0;
  top: 0;
  padding: 15px 20px;
  font-weight: bold;
}

.today-as-emoji {
  font-size: 10rem;
  position: absolute;
  left: 65%;
  top: 27%;
  transform: translate(-50%, -50%);
}

.today-sunrise {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
}

.today-sunset {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
}

.today-min-max-degree {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 10px;
}

body.dark .btn-fetch {
  background-color: #a4a4a4;
  border-color: #3a3a3a;
}

.btn-fetch {
  cursor: pointer;
  transition: opacity 0.5s ease-out;
  position: relative;
  left: 50%;
  opacity: 1;
  transform: translate(-50%, 0);
  background-color: white;
  border: 5px solid #efefef;
  outline: none;
  padding: 13px 50px;
  min-width: 50%;
  font-weight: 800;
  font-stretch: extra-expanded;
  font-size: medium;
  margin: 10px 0 10px 0;
  border-radius: 6px;
}

.btn-fetch:hover {
  background-color: #efefef !important;
  border: 5px solid #efefef;
}

body.dark .btn-fetch {
  color: white;
}

body.dark .btn-fetch:hover {
  background-color: white;
  color: black;
}

body.dark .switch {
  -webkit-appearance: none;
  background-color: #ffffff;
  cursor: pointer;
}

.switch {
  -webkit-appearance: none;
  height: 1rem;
  width: 3rem;
  background-color: #a0a0a0;
  border-radius: 43px;
  cursor: pointer;
  position: absolute;
  cursor: pointer;
  left: 0;
  top: 0;
  margin: 15px 20px;
  outline: none;
}

.switch::after {
  top: 1px;
  left: 2px;
  content: '';
  width: 0.8rem;
  height: 0.8rem;
  background-color: #fff;
  position: absolute;
  border-radius: 100%;
  transition: 0.5s;
}

body.dark .switch::after {
  top: 1px;
  left: 2px;
  content: '';
  width: 0.8rem;
  height: 0.8rem;
  background-color: #6b6b6b;
  position: absolute;
  border-radius: 100%;
  transition: 0.5s;
}

.switch:checked {
  background-color: #6b6b6b;
}

.switch:checked::after {
  transform: translateX(2rem);
}

.switch:focus {
  outline-color: transparent;
}
